* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.678) url("../img/alun\ alun\ bandung.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  display: flex;
  max-width: 850px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.login {
  width: 400px;
}

form {
  width: 250px;
  margin: 60px auto;
}

h1 {
  margin: 20px;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}

hr {
  border-top: 2px solid #2c80ff;
}

p {
  text-align: center;
  margin: 10px;
}

.rgs {
  font-size: 10pt;
}

.right img {
  width: 450px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

input {
  width: 100%;
  margin: 2px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
}

.submiting {
  border: none;
  outline: none;
  padding: 8px;
  width: 252px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  background: #2c80ff;
}

button:hover {
  background: #75acff;
}

@media (max-width: 880px) {
  .container {
    width: 100%;
    max-width: 750px;
    margin-left: 20px;
    margin-right: 20px;
  }

  form {
    width: 300px;
    margin: 20px auto;
  }

  .login {
    width: 400px;
    padding: 20px;
  }

  button {
    width: 100%;
  }

  .right img {
    width: 100%;
    height: 100%;
  }
}
